body {
	background-color: #00001C;
	color: #A1A1AF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	text-align: left;
	margin: 0px;
	padding: 5px 20px;
}
table.msg_page {
	width: 100%;
}
table.msg_page th {
	text-align: left;
	font-weight: bold;
	width: 0px;
	background-color: #1D2344;
	border-left: 2px solid #1D2344;
	border-bottom: 2px solid #00001C;
}
table.msg_page td {
	border-bottom: 2px solid #1D2344;
	border-right: 10px solid #1D2344;
}
table.msg_page tr.first th,
table.msg_page tr.first td {
	border-top: 2px solid #1D2344;
}
table.msg_page tr.last th,
table.msg_page tr.last td {
	border-bottom: 2px solid #1D2344;
}
#msg_body {
	padding: 10px;
}
input, textarea {
	width: 100%;
}
a {
	color: #D0D1D9;
	text-decoration: none;
}
a:hover {
	color: #E5E5FF;
	text-decoration: underline;
}
#wrapper {
	width: 600px;
}
h1 {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
}
hr {
	background-color: #A1A1AF;
	border: 0px;
}
h2 {
	font-size: 14pt;
	font-weight: bold;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.clrb {
	clear: both;
}
.nope {
	display: none;
}
.m0p0 {
	margin: 0px !important;
	padding: 0px !important;
}
.send_msg {
	width: 450px !important;
}
div#error {
	color: #FF0000;
	font-weight: bold;
}
table.menu {
	float: left;
	width: 220px;
}
table.menu tr th {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid #A1A1AF;
	padding-bottom: 5px;
	text-align: center;
}
table.menu tr td a {
	background-color: #00001C;
	color: #A1A1AF;
	text-decoration: none;
}
table.menu tr.title td {
	padding-bottom: 10px;
	border-bottom: 2px solid #A1A1AF;
	text-align: center;
}
table.menu tr.middle td {
	border-left: 2px solid #A1A1AF;
	border-right: 2px solid #A1A1AF;
}
table.menu tr.middle td a {
	display: block;
	padding: 5px;
	font-weight: bold;
}
table.menu tr.middle td a:hover {
	background-color: #A1A1AF;
	color: #00001C;
}
table.menu tr.hr td {
	height: 2px;
}
table.menu tr.bottom {
	overflow: hidden;
	height: 2px;
}
table.menu tr.topsep td {
	border-top: 2px solid #A1A1AF;
}
table.menu tr.bottom td {
	border-bottom: 2px solid #A1A1AF;
}
table.menu tr.highlight td a {
	background-color: #202030;
}
table.input_form {
	width: 450px;
}
table.input_form th {
	width: 0px;
	padding-right: 10px;
	vertical-align: top;
	padding-top: 5px;
}
input.styled,
table.input_form td input,
table.input_form td select {
	background-color: #00001C;
	color: #A1A1AF;
	border: 2px solid #A1A1AF;
	margin: 2px;
	padding: 2px;
	width: 100%;
}
table.input_form td input.normal {
	width: 200px;
}
table.input_form td textarea {
	background-color: #00001C;
	color: #A1A1AF;
	border: 2px solid #A1A1AF;
	margin: 2px;
	padding: 2px;
	height: 300px;
}
table.log {
	border: 2px solid #A1A1AF;
	border-bottom: 0px;
}
table.log th {
	background-color: #A1A1AF;
	color: #00001C;
}
table.log th,
table.log td {
	border-bottom: 2px solid #A1A1AF;
	vertical-align: top;
}
table.log tr.success td,
table.log tr.success td {
	background-color: #104010;
}
table.log tr.failed td,
table.log tr.failed td {
	background-color: #401010;
}
table.carriers tr th {
	padding-top: 10px;
	font-size: 12pt;
	border-bottom: 1px solid #202030;
}
table.carriers tr td {
	padding: 2px;
	padding-left: 0px;
	border-bottom: 1px solid #303040;
}
